$primaryColor: #1f6fe5;
$primaryColor1:#1665d8;
$bodyBG: #fbfbfd;
$fontColor: #3e3f42;
$fontColor-light: #9EA0A5;
$fontColor-green: #34AA44;
$fontColor-blue: #101426;
$fontColor-red: #FA5D5D;
$badge-blue:#1968DC;


$boarderColor: #707070;
$borderColorLight : #E4E8EE;
$cardBorder:#EAEDF3;
$boxShadow: rgba(0,0,0,16);
$whiteColor: #fff;

// Form element
$labelColor: #9ea0a5;
$primaryBtn: $primaryColor;
$secondaryBtnColor: #36ae46;
